.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border-radius: 5%;
}

body {
    background: #ecc0d1;
}
h1 {
    color: #fff0ea;
    font-family: Courier;
    font-size: 60pt;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-align: center;
}
h2 {
    background-color: rgba(255, 255, 255, 0.25);
    color: #442e34;
    font-family: Courier New;
    font-size: 45pt;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 0px;
    background-clip: padding-box;
}
p {
    font-size: 15pt;
    font-family: Courier;
    margin-left: 5%;
    margin-right: 40%;
    font-weight: bold;
    color: #201818;
    -webkit-text-stroke-color: lightgrey;
    -webkit-text-stroke-width: 0.1px;
}